$Montserrat: 'Montserrat', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;

$black: #141414;
$dark-shade: #686868;
$light-shade: #D3D3D3;
$wihte: #FFFFFF;
$accent: #FF1820;
$shade: #717171;
$linear: linear-gradient(158.71deg, #FF1820 17.69%, #E50B13 85.6%); 